In [8]:
import snowflake.connector

In [9]:
conn = snowflake.connector.connect(
    user='MARIANAVEJAR98',
    password='cukpyndojpimfetWe8',
    account='hjshbpe-uab91266'
)

In [10]:
cs = conn.cursor()

In [12]:
cs.execute("CREATE WAREHOUSE IF NOT EXISTS my_first_warehouse")

In [13]:
cs.execute("CREATE DATABASE IF NOT EXISTS testdb")

In [14]:
cs.execute("CREATE SCHEMA IF NOT EXISTS testschema")

In [15]:
cs.execute(
"CREATE OR REPLACE TABLE "    
"test_table(col1 integer, col2 string)")

In [16]:
cs.execute(
"INSERT INTO test_table(col1, col2) "
    		"VALUES (123, 'test string1'), (456, 'test string2')")

In [17]:
cs.execute('SELECT * FROM test_table')
print(cs.fetchmany(2))

[(123, 'test string1'), (456, 'test string2')]